{%extends 'base.html'%}

{% block content%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'port:portfolio_new' %}">+ New Blog Post</a>
<div class="row no-gutters">
	<div class="col-lg-3">
	{%for portfolio in PortList%}
		<div class="cat-title">
			<p><h3><a href="{% url 'port:portfolio_detail' portfolio.id %}">{{portfolio.title}}</a></h3></p>
		</div>
	{%endfor%}
	</div>
	

{%endblock content%}